<html>
	<head>
		<style>
		body {
			background-color: #87CEFA
		}
		h2{
			font-family: "Georgia Bold Italic";
			color: #29293d;
		}
		h1{
			font-family: "Times New Roman";
			color: #a3a3c2;
		}
		p{
			font-family: "Comic Sans MS";
			color: #7575a3:
		}
		</style>
		<title>The 13th Star</title>
	</head>
<body>
<h1><center>Welcome to the 13th Star</center></h1>
	<table><table width=100% border=1 cellpadding=2 cellspacing=2>
		<tr>
		<td><a href=""><center>Home</center></a></td>
		<td><a href=""><center>About</center></a></td>
		<td><a href=""><center>Products</center></a></td>
		<td><a href=""><center>Specifications</center></a></td>
		<td><a href=""><center>Help</center></a></td>
		</tr>
	</table>
<h2><center>Falling Down Just To Get Back Up</center></h2>
	<p>
	Through many attempts leading only towards trial and error, an advancement in engineering and software
	programming has finally birthed to one of the first artifical intellegence. With the memory space of a
	computer and the consicousiness of a human, this new AI has what it takes to learn and push forward the
	human race to new heights in technology, innovate the machines we already have, and even become more human.
	</p>
<h2><center>Venture To The Next Era Of Technology</center></h2>
	<p>
	With the successful test of the prototype, the 13th star AI has passed the regulations to be sold. Easy to access and safe to use, this 			advancement in our technology has enabled us to proceed with the future. With it's next level learning and extremely fast proccessing unit, the 13th 		star AI can complete any tasks with precision and quality. For more information on our product, visit the <a href=""> Specifications </a> page.
	</p>
<h2><center>A Small Price For A Big Step</center></h2>
	<p>

	</p>

</body>
</html>