<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/bootstrap.min.css') }}" >

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/bootstrap-theme.min.css') }}">

    <!-- Custom stylesheet -->
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename='./css/style.css') }}">

</head>

<body>
<a href="http://getbootstrap.com/docs/3.3/components">Boostrap Components</a>
<br>
<a href="https://www.w3schools.com/bootstrap/default.asp">Boostrap Tutorial</a>

<div class="container">

        <div class="row">
            <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">Page 1</a></li>
              <li><a href="#">Page 2</a></li>
              <li><a href="#">Page 3</a></li>
            </ul>
          </div>
        </nav>

        </div>

        <div class="row">

            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
				<p>Col 1 width 1</p>
			</div>

            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
				<p>Col 2 width 1</p>
			</div>

            <div class="col-lg-1 col-md-1">
				<p>Col 3 width 1</p>
			</div>
			<div class="col-lg-1 col-md-1">
				<p>Col 4 width 1</p>
			</div>
			<div class="col-lg-1 col-md-1">
				<p>Col 5 width 1</p>
			</div>
			<div class="col-lg-1 col-md-1">
				<p>Col 6 width 1</p>
			</div>
			<div class="col-lg-6 col-md-1">
				<p>Col 7 width 6</p>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-2"><h3>Col-2</h3></div>
			<div class="col-lg-2"><h3>Col-2</h3></div>
			<div class="col-lg-2"><h3>Col-2</h3></div>
			<div class="col-lg-3"><h3>Col-3</h3></div>
			<div class="col-lg-3"><h3>Col-3</h3></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <button type="button" class="btn">This is my button</button>
                <button type="button" class="btn btn-danger">Alert Do not press this button</button>
                {% for name in devices %}
                <button type="button" class="btn">{{ devices[name] }} </button>
                {% endfor %}

            </div>
        </div>

    </div>
    <script type="text/javascript" src="{{url_for('static',filename='./js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript"  src="{{url_for('static',filename='./js/bootstrap.min.js') }}"></script>
    <script type = "text/javascript" src = "{{ url_for('static', filename = './js/main.js') }}" ></script>

</body>
</html>