<html>

<head>
    <title>My Jose Iram Page</title>

<script>



</script>
<style>

    .blue {
        color:blue;
    }

    #smallheader{
        color: red;
    }


</style>


</head>

<body>

<h1 class="blue" id="bigheader">This is the h1 header</h1>
<h2 class="blue" id="mediumid">This is the h2 header</h2>
<h3 id="smallheader">This is the h3 header</h3>
<br />

<button>This is a button</button>
<br />

Text Box <input type="text">
<br />

<p>Paragraph defined</p>
<br />

<div>
    This is some code enclosed in a division
</div>


</body>


</html>