(% extends "index.html" %}
{% block body %}
<div class="row">
    {% include "nbar.html"%}
</div>
{% endblock %}
{% blockfooter%}
		<style>
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
			background-color: #1E90FF;
		}
		li a{
			display: block;
			color: white;
		}
		h1{
			border: 2px solid #1E90FF
			border-bottom: 2px solid #0066CC;
			background-color: #99CCFF;
		}
		body {
			padding-top: 15px;
			padding-bottom: 15px;
			border: 15px solid #0066CC;
			text-align: center;
			background-color: #99CCFF

		}
		.btn btn-default{
			background-color:#ADD8E6;
		}

		</style>




  <h1 align= "center"> Remote Control</h1>


<div class="btn-group btn-group-justified" role="group" aria-label="...">
  ...
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Input</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default"> </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">Power</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  ...
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">1</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">2</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">3</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  ...
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">4</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">5</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">6</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  ...
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">7</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">8</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">9</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  ...
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">vol /\</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">.</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">chan /\</button>
  </div>
</div>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">vol \/</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">0</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default">chan \/</button>
  </div>
</div>
