<html>
<head>
<title>Utilities Page</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
    body{
        background-color: #adad85
    }
    h1{
        background-color: #adad85
    }
    p{
        background-color: #adad85

    }
</style>
</head>

<body>

  <h1 align="center">Utilities</h1>
  <p align="center">user usage</p>


<div class="panel panel-default">
  <div class="panel-heading">monthly energy use</div>
  <div class="panel-body">
    34 percent
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">monthly water use</div>
  <div class="panel-body">
    58 percent
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">monthly gas use</h3>
  </div>
  <div class="panel-body">
    15 percent
  </div>
</div>
</body>