<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E90FF;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #0066CC;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="#community">Community</a></li>
  <li><a href="@Front Door.html">Front Door</a></li>
  <li><a href="#livingroom">Living Room</a></li>
  <li><a href="#bedroom">Bedroom</a></li>
  <li><a href="@utilities">Utilities</a></li>
  <li><a href="@remote">Remote</a></li>
</ul>

</body>
</html>